# Data Cleaning Notebook

In [32]:
import sys
sys.path.append('../')
import json
import requests
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize 

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

### Loading Data 

Import json files and convert to dataframe

In [34]:
path2data = '../cleaning/data-json/matches/'

In [38]:
# Load json file containing match data for each of the 5 events
### cleaning league x data 
#matches/league_id_10749_ti9_matchdata.json
#matches/league_id_10979_starladder_s2_matchdata.json
#matches/league_id_10826_epicenter_2019_matchdata.json
#matches/league_id_11280_chengdu_matchdata.json
#matches/league_id_11371_summit_11_matchdata.json

input_file = open('data-json/matches/league_id_10979_starladder_s2_matchdata.json') 
matchdata = json.load(input_file)
input_file.close()
big_df = json_normalize(matchdata)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

In [39]:
big_df.shape

(153, 2580)

In [41]:
# Check if file has matches played outside of patch 7.22 (i.e., patch 41)
big_df.patch.unique()

array([41, 40])

In [76]:
# Drop rows with matches played on patches other than patch 41
big_df = big_df[big_df.patch != 40]

In [45]:
big_df.shape

(45, 2580)

### Create Dataframe for match results

This will include general id columns and basic match results such as match id, league id, dire/radiant teams, and if radiant won

In [166]:
#data2 = pd.read_json('matches/league_id_10749_ti9_matchdata.json')
#data2.head(1)

In [77]:
match_df = big_df[['match_id','duration', 'leagueid','match_seq_num','series_id', 'series_type', 'patch', 'dire_team_id', 'radiant_team_id', 'radiant_win' ]]
print(match_df.shape)
match_df.isna().sum()

(45, 10)

match_id           0
duration           0
leagueid           0
match_seq_num      0
series_id          0
series_type        0
patch              0
dire_team_id       0
radiant_team_id    0
radiant_win        0
dtype: int64

In [86]:
match_df.set_index('match_id')
#match_df.head()

,duration,leagueid,match_seq_num,series_id,series_type,patch,dire_team_id,radiant_team_id,radiant_win
match_id,,,,,,,,,
4833593109,4036,10979,4062972494,337111,1,41,7118032,111474,True
4833371463,2976,10979,4062797533,337111,1,41,111474,7118032,True
4833120790,2700,10979,4062637540,337111,1,41,111474,7118032,False
4835973421,3504,10979,4064617551,337330,1,41,6214973,7059982,False
4835092211,2530,10979,4063983045,337299,1,41,7137328,7118032,True
4835349235,2983,10979,4064165158,337299,1,41,7137328,7118032,False
4844403184,3606,10979,4070576815,338176,2,41,111474,6214973,False
4838510531,3234,10979,4066415388,337601,1,41,7137328,4,True
4836456903,2959,10979,4064924831,337366,1,41,543897,3,False
4832621485,2404,10979,4062295592,337088,1,41,4,7137328,True
4840125375,3264,10979,4067539200,337770,1,41,111474,7059982,False
4837606570,3441,10979,4065791023,337520,1,41,543897,6214973,True
4835583515,2191,10979,4064331442,337330,1,41,7059982,6214973,False
4839981142,2726,10979,4067413081,337770,1,41,111474,7059982,True
4840900564,2272,10979,4068065670,337862,1,41,111474,6214973,True
4841677189,2041,10979,4068587816,337932,1,41,7059982,7137328,False
4841117691,2357,10979,4068213283,337862,1,41,111474,6214973,False
4843909697,2653,10979,4070214423,338176,2,41,111474,6214973,False
4843550889,2307,10979,4069954027,338141,1,41,6214973,7059982,False
4836366115,1869,10979,4064834441,337366,1,41,543897,3,False
4836235481,1984,10979,4064756349,337366,1,41,543897,3,True
4844103057,1906,10979,4070345485,338176,2,41,111474,6214973,True
4841320882,2328,10979,4068367708,337862,1,41,6214973,111474,True
4834063398,2511,10979,4063251261,337161,1,41,4,111474,True
4841541944,2082,10979,4068498796,337932,1,41,7059982,7137328,False
4837947429,2234,10979,4066005383,337539,1,41,7059982,3,False
4840339077,1921,10979,4067641090,337770,1,41,111474,7059982,False
4835803139,2015,10979,4064450826,337330,1,41,6214973,7059982,False
4844267214,2079,10979,4070452967,338176,2,41,6214973,111474,False
4833860999,2197,10979,4063097949,337161,1,41,111474,4,False
4838731935,1936,10979,4066507576,337601,1,41,4,7137328,True
4838331955,1510,10979,4066241464,337570,1,41,543897,7059982,True
4840658699,2212,10979,4067884187,337821,1,41,7137328,6214973,True
4780985992,1378,10979,4027735053,331736,1,41,7137328,5055770,False
4837494648,1701,10979,4065679443,337520,1,41,543897,6214973,True
4843389725,2312,10979,4069834112,338129,2,41,6214973,7059982,False
4835239574,1537,10979,4064051193,337299,1,41,7137328,7118032,False
4832947918,1394,10979,4062444076,337088,1,41,4,7137328,False
4833967708,1927,10979,4063175586,337161,1,41,4,111474,False
4844547955,1926,10979,4070655255,338176,2,41,111474,6214973,True
4837806996,1840,10979,4065895814,337539,1,41,7059982,3,False
4840482825,2079,10979,4067771457,337821,1,41,7137328,6214973,True
4838160846,1484,10979,4066141367,337570,1,41,543897,7059982,True
4832849461,1417,10979,4062371968,337088,1,41,4,7137328,False
4838845023,1690,10979,4066581167,337601,1,41,7137328,4,False

In [170]:
#match_df.sort_values(by='match_id', ascending=True)

### Create dataframe for match picks and bans

In [171]:
#json_struct = json.loads(data.to_json(orient="records"))    
#df_flat = pd.io.json.json_normalize(json_struct) #use pd.io.json

In [68]:
picks_df = json_normalize(data, 'picks_bans', max_level=0)
print(picks_df.shape)
picks_df.head(22).T

(3322, 6)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:

pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
is_pick,False,False,False,False,False,False,True,True,True,True,False,False,False,False,True,True,True,True,False,False,True,True
hero_id,38,111,55,107,46,66,18,16,37,65,57,88,39,121,67,68,7,80,51,43,100,106
team,0,1,0,1,0,1,0,1,1,0,0,1,0,1,1,0,1,0,1,0,0,1
order,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
ord,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
match_id,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109,4833593109

Rearrange column order and convert data types to strings and group.

In [60]:
df = picks_df[['match_id', 'order', 'is_pick', 'team', 'hero_id']]

In [62]:
df = df.astype(str)
df = df.groupby('match_id')['is_pick','team','hero_id'].agg(' '.join)
df.head()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

,is_pick,team,hero_id
match_id,,,
4770332364,False False False False False False True True ...,1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0,33 55 94 102 53 88 69 6 3 87 36 77 65 18 16 52...
4770343012,False False False False False False True True ...,1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0,53 88 16 111 69 55 102 6 100 65 29 89 13 46 86...
4770458746,False False False False False False True True ...,1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0,6 55 53 88 52 102 69 111 95 15 65 18 33 112 16...
4770490885,False False False False False False True True ...,1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0,6 88 53 102 15 111 55 69 16 107 18 54 8 89 87 ...
4770544546,False False False False False False True True ...,1 0 1 0 1 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 1 0,94 88 69 55 53 25 102 111 19 95 76 27 15 45 52...

In [63]:
# Split column strings

new1 = df['is_pick'].str.split(' ', expand=True)
new2 = df['team'].str.split(' ', expand=True)
new3 = df['hero_id'].str.split(' ', expand=True)
#new1, new2, new3

In [64]:
# Get column labels for the columns

total_picks = 21 # recall range is 0-21 = 22 picks
new1.columns = ['1is_pick', '2is_pick', '3is_pick', '4is_pick', '5is_pick', '6is_pick', '7is_pick','8is_pick','9is_pick','10is_pick','11is_pick','12is_pick','13is_pick','14is_pick','15is_pick','16is_pick','17is_pick','18is_pick','19is_pick','20is_pick','21is_pick', '22is_pick']
new2.columns = ['1team', '2team', '3team', '4team', '5team', '6team', '7team', '8team', '9team', '10team', '11team', '12team', '13team', '14team', '15team', '16team', '17team', '18team', '19team', '20team', '21team', '22team']
new3.columns = ['1hero_id', '2hero_id', '3hero_id', '4hero_id', '5hero_id', '6hero_id', '7hero_id', '8hero_id', '9hero_id', '10hero_id', '11hero_id', '12hero_id', '13hero_id', '14hero_id', '15hero_id', '16hero_id', '17hero_id', '18hero_id', '19hero_id', '20hero_id', '21hero_id',
               '22hero_id']

In [65]:
# Join the new columns 

picks1 = new1.join(new2).join(new3)
#picks_df = new1.join(new2).join(new3)
#picks_df.dtypes
#picks_df.head(100)
#data.shape

In [67]:
print(picks1.shape)
picks1.head()

(151, 66)

,1is_pick,2is_pick,3is_pick,4is_pick,5is_pick,6is_pick,7is_pick,8is_pick,9is_pick,10is_pick,11is_pick,12is_pick,13is_pick,14is_pick,15is_pick,16is_pick,17is_pick,18is_pick,19is_pick,20is_pick,21is_pick,22is_pick,1team,2team,3team,4team,5team,6team,7team,8team,9team,10team,11team,12team,13team,14team,15team,16team,17team,18team,19team,20team,21team,22team,1hero_id,2hero_id,3hero_id,4hero_id,5hero_id,6hero_id,7hero_id,8hero_id,9hero_id,10hero_id,11hero_id,12hero_id,13hero_id,14hero_id,15hero_id,16hero_id,17hero_id,18hero_id,19hero_id,20hero_id,21hero_id,22hero_id
match_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4770332364,False,False,False,False,False,False,True,True,True,True,False,False,False,False,True,True,True,True,False,False,True,True,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,1,0,33,55,94,102,53,88,69,6,3,87,36,77,65,18,16,52,25,46,29,50,7,17
4770343012,False,False,False,False,False,False,True,True,True,True,False,False,False,False,True,True,True,True,False,False,True,True,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,1,0,53,88,16,111,69,55,102,6,100,65,29,89,13,46,86,7,57,10,39,76,106,36
4770458746,False,False,False,False,False,False,True,True,True,True,False,False,False,False,True,True,True,True,False,False,True,True,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,1,0,6,55,53,88,52,102,69,111,95,15,65,18,33,112,16,86,25,87,94,49,39,10
4770490885,False,False,False,False,False,False,True,True,True,True,False,False,False,False,True,True,True,True,False,False,True,True,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,1,0,6,88,53,102,15,111,55,69,16,107,18,54,8,89,87,95,42,64,46,35,94,65
4770544546,False,False,False,False,False,False,True,True,True,True,False,False,False,False,True,True,True,True,False,False,True,True,1,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,1,0,1,1,0,94,88,69,55,53,25,102,111,19,95,76,27,15,45,52,16,17,39,29,6,60,89

In [69]:
picks_df = picks1[['1is_pick', '1team', '1hero_id',
               '2is_pick', '2team', '2hero_id', 
               '3is_pick', '3team', '3hero_id', 
               '4is_pick', '4team', '4hero_id', 
               '5is_pick', '5team', '5hero_id', 
               '6is_pick', '6team', '6hero_id', 
               '7is_pick', '7team', '7hero_id', 
               '8is_pick', '8team', '8hero_id', 
               '9is_pick', '9team', '9hero_id', 
               '10is_pick', '10team', '10hero_id', 
               '11is_pick', '11team', '11hero_id', 
               '12is_pick', '12team', '12hero_id',
               '13is_pick', '13team', '13hero_id', 
               '14is_pick', '14team', '14hero_id', 
               '15is_pick', '15team', '15hero_id', 
               '16is_pick', '16team', '16hero_id', 
               '17is_pick', '17team', '17hero_id',
               '18is_pick', '18team', '18hero_id', 
               '19is_pick', '19team', '19hero_id',
               '20is_pick', '20team', '20hero_id',
               '21is_pick', '21team', '21hero_id', 
                '22is_pick', '22team', '22hero_id']]

In [70]:
picks_df.head()

,1is_pick,1team,1hero_id,2is_pick,2team,2hero_id,3is_pick,3team,3hero_id,4is_pick,4team,4hero_id,5is_pick,5team,5hero_id,6is_pick,6team,6hero_id,7is_pick,7team,7hero_id,8is_pick,8team,8hero_id,9is_pick,9team,9hero_id,10is_pick,10team,10hero_id,11is_pick,11team,11hero_id,12is_pick,12team,12hero_id,13is_pick,13team,13hero_id,14is_pick,14team,14hero_id,15is_pick,15team,15hero_id,16is_pick,16team,16hero_id,17is_pick,17team,17hero_id,18is_pick,18team,18hero_id,19is_pick,19team,19hero_id,20is_pick,20team,20hero_id,21is_pick,21team,21hero_id,22is_pick,22team,22hero_id
match_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
4770332364,False,1,33,False,0,55,False,1,94,False,0,102,False,1,53,False,0,88,True,1,69,True,0,6,True,0,3,True,1,87,False,1,36,False,0,77,False,1,65,False,0,18,True,0,16,True,1,52,True,0,25,True,1,46,False,0,29,False,1,50,True,1,7,True,0,17
4770343012,False,1,53,False,0,88,False,1,16,False,0,111,False,1,69,False,0,55,True,1,102,True,0,6,True,0,100,True,1,65,False,1,29,False,0,89,False,1,13,False,0,46,True,0,86,True,1,7,True,0,57,True,1,10,False,0,39,False,1,76,True,1,106,True,0,36
4770458746,False,1,6,False,0,55,False,1,53,False,0,88,False,1,52,False,0,102,True,1,69,True,0,111,True,0,95,True,1,15,False,1,65,False,0,18,False,1,33,False,0,112,True,0,16,True,1,86,True,0,25,True,1,87,False,0,94,False,1,49,True,1,39,True,0,10
4770490885,False,1,6,False,0,88,False,1,53,False,0,102,False,1,15,False,0,111,True,1,55,True,0,69,True,0,16,True,1,107,False,1,18,False,0,54,False,1,8,False,0,89,True,0,87,True,1,95,True,0,42,True,1,64,False,0,46,False,1,35,True,1,94,True,0,65
4770544546,False,1,94,False,0,88,False,1,69,False,0,55,False,1,53,False,0,25,True,1,102,True,0,111,True,0,19,True,1,95,False,1,76,False,0,27,False,1,15,False,0,45,True,0,52,True,1,16,True,0,17,True,1,39,False,0,29,False,1,6,True,1,60,True,0,89

In [73]:
# Check if picks data frame has any null values
picks_df.isna().sum()

1is_pick     0
1team        0
1hero_id     0
2is_pick     0
2team        0
2hero_id     0
3is_pick     0
3team        0
3hero_id     0
4is_pick     0
4team        0
4hero_id     0
5is_pick     0
5team        0
5hero_id     0
6is_pick     0
6team        0
6hero_id     0
7is_pick     0
7team        0
7hero_id     0
8is_pick     0
8team        0
8hero_id     0
9is_pick     0
9team        0
9hero_id     0
10is_pick    0
10team       0
10hero_id    0
11is_pick    0
11team       0
11hero_id    0
12is_pick    0
12team       0
12hero_id    0
13is_pick    0
13team       0
13hero_id    0
14is_pick    0
14team       0
14hero_id    0
15is_pick    0
15team       0
15hero_id    0
16is_pick    0
16team       0
16hero_id    0
17is_pick    0
17team       0
17hero_id    0
18is_pick    0
18team       0
18hero_id    0
19is_pick    0
19team       0
19hero_id    0
20is_pick    0
20team       0
20hero_id    0
21is_pick    0
21team       0
21hero_id    0
22is_pick    0
22team       0
22hero_id    0
dtype: int64

In [78]:
picks_df.shape, match_df.shape

((151, 66), (45, 10))

In [84]:
match_df.set_index('match_id')

,duration,leagueid,match_seq_num,series_id,series_type,patch,dire_team_id,radiant_team_id,radiant_win
match_id,,,,,,,,,
4833593109,4036,10979,4062972494,337111,1,41,7118032,111474,True
4833371463,2976,10979,4062797533,337111,1,41,111474,7118032,True
4833120790,2700,10979,4062637540,337111,1,41,111474,7118032,False
4835973421,3504,10979,4064617551,337330,1,41,6214973,7059982,False
4835092211,2530,10979,4063983045,337299,1,41,7137328,7118032,True
4835349235,2983,10979,4064165158,337299,1,41,7137328,7118032,False
4844403184,3606,10979,4070576815,338176,2,41,111474,6214973,False
4838510531,3234,10979,4066415388,337601,1,41,7137328,4,True
4836456903,2959,10979,4064924831,337366,1,41,543897,3,False
4832621485,2404,10979,4062295592,337088,1,41,4,7137328,True
4840125375,3264,10979,4067539200,337770,1,41,111474,7059982,False
4837606570,3441,10979,4065791023,337520,1,41,543897,6214973,True
4835583515,2191,10979,4064331442,337330,1,41,7059982,6214973,False
4839981142,2726,10979,4067413081,337770,1,41,111474,7059982,True
4840900564,2272,10979,4068065670,337862,1,41,111474,6214973,True
4841677189,2041,10979,4068587816,337932,1,41,7059982,7137328,False
4841117691,2357,10979,4068213283,337862,1,41,111474,6214973,False
4843909697,2653,10979,4070214423,338176,2,41,111474,6214973,False
4843550889,2307,10979,4069954027,338141,1,41,6214973,7059982,False
4836366115,1869,10979,4064834441,337366,1,41,543897,3,False
4836235481,1984,10979,4064756349,337366,1,41,543897,3,True
4844103057,1906,10979,4070345485,338176,2,41,111474,6214973,True
4841320882,2328,10979,4068367708,337862,1,41,6214973,111474,True
4834063398,2511,10979,4063251261,337161,1,41,4,111474,True
4841541944,2082,10979,4068498796,337932,1,41,7059982,7137328,False
4837947429,2234,10979,4066005383,337539,1,41,7059982,3,False
4840339077,1921,10979,4067641090,337770,1,41,111474,7059982,False
4835803139,2015,10979,4064450826,337330,1,41,6214973,7059982,False
4844267214,2079,10979,4070452967,338176,2,41,6214973,111474,False
4833860999,2197,10979,4063097949,337161,1,41,111474,4,False
4838731935,1936,10979,4066507576,337601,1,41,4,7137328,True
4838331955,1510,10979,4066241464,337570,1,41,543897,7059982,True
4840658699,2212,10979,4067884187,337821,1,41,7137328,6214973,True
4780985992,1378,10979,4027735053,331736,1,41,7137328,5055770,False
4837494648,1701,10979,4065679443,337520,1,41,543897,6214973,True
4843389725,2312,10979,4069834112,338129,2,41,6214973,7059982,False
4835239574,1537,10979,4064051193,337299,1,41,7137328,7118032,False
4832947918,1394,10979,4062444076,337088,1,41,4,7137328,False
4833967708,1927,10979,4063175586,337161,1,41,4,111474,False
4844547955,1926,10979,4070655255,338176,2,41,111474,6214973,True
4837806996,1840,10979,4065895814,337539,1,41,7059982,3,False
4840482825,2079,10979,4067771457,337821,1,41,7137328,6214973,True
4838160846,1484,10979,4066141367,337570,1,41,543897,7059982,True
4832849461,1417,10979,4062371968,337088,1,41,4,7137328,False
4838845023,1690,10979,4066581167,337601,1,41,7137328,4,False

In [80]:
#match_df.index('match_id')
#match_df.head()

In [81]:
picks = picks_df
matchhistory = match_df

Quick eyeball inspection to check if the draft information is preserved:


Comparing match_id = 4888646940, we can see from above that the first pick (order=0) information was: 
- first pick (1ban): '4888646940	0	False	1	66'; w/c lines up with 1is_pick, 1hero_id, etc...
- last pick: 9106	4888646940	21	True	0	67; w/c lines up with 22is_pick, 22hero_id, etc...

So, at least by a quick visual inspection, seems like the drafting data has been successfully cleaned.

In [24]:
#picks.to_csv('data/ti9_picks_cleaned.csv')
#matchhistory.to_csv('data/summit11_matchhistory.csv')

BELOW IS WHERE I THINK I FUCKED UP. THE 'is_pick' CONVERSION TO BOOLEAN JUST REPLACE THEM AS all '1's' because each of those columns were either all FALSE or all TRUES

In [185]:
# picks dictionary
picks_dict = {'1is_pick': bool, '1team': bool, '1hero_id': int,
               '2is_pick': bool, '2team': bool, '2hero_id': int, 
               '3is_pick': bool, '3team': bool, '3hero_id': int, 
               '4is_pick': bool, '4team': bool, '4hero_id': int, 
               '5is_pick': bool, '5team': bool, '5hero_id': int, 
               '6is_pick': bool, '6team': bool, '6hero_id': int, 
               '7is_pick': bool, '7team': bool, '7hero_id': int, 
               '8is_pick': bool, '8team': bool, '8hero_id': int, 
               '9is_pick': bool, '9team': bool, '9hero_id': int, 
               '10is_pick': bool, '10team':bool, '10hero_id': int, 
               '11is_pick': bool, '11team':bool, '11hero_id': int, 
               '12is_pick': bool, '12team':bool, '12hero_id': int,
               '13is_pick': bool, '13team':bool, '13hero_id': int, 
               '14is_pick': bool, '14team':bool, '14hero_id': int, 
               '15is_pick': bool, '15team':bool, '15hero_id': int, 
               '16is_pick': bool, '16team':bool, '16hero_id': int, 
               '17is_pick': bool, '17team':bool, '17hero_id': int,
               '18is_pick': bool, '18team':bool, '18hero_id': int, 
               '19is_pick': bool, '19team':bool, '19hero_id': int,
               '20is_pick': bool, '20team':bool, '20hero_id': int,
               '21is_pick': bool, '21team':bool, '21hero_id': int, 
                '22is_pick': bool, '22team':bool, '22hero_id': int}

picks = picks.astype(picks_dict)

In [143]:
picks.to_csv('data/starladder_picks_cleaned.csv')
matchhistory.to_csv('data/starladder_matches_cleaned.csv')

In [144]:
picks2.dtypes

match_id     int64
1is_pick      bool
1team         bool
1hero_id     int64
2is_pick      bool
2team         bool
2hero_id     int64
3is_pick      bool
3team         bool
3hero_id     int64
4is_pick      bool
4team         bool
4hero_id     int64
5is_pick      bool
5team         bool
5hero_id     int64
6is_pick      bool
6team         bool
6hero_id     int64
7is_pick      bool
7team         bool
7hero_id     int64
8is_pick      bool
8team         bool
8hero_id     int64
9is_pick      bool
9team         bool
9hero_id     int64
10is_pick     bool
10team        bool
10hero_id    int64
11is_pick     bool
11team        bool
11hero_id    int64
12is_pick     bool
12team        bool
12hero_id    int64
13is_pick     bool
13team        bool
13hero_id    int64
14is_pick     bool
14team        bool
14hero_id    int64
15is_pick     bool
15team        bool
15hero_id    int64
16is_pick     bool
16team        bool
16hero_id    int64
17is_pick     bool
17team        bool
17hero_id    int64
18is_pick     bool
18team        bool
18hero_id    int64
19is_pick     bool
19team        bool
19hero_id    int64
20is_pick     bool
20team        bool
20hero_id    int64
21is_pick     bool
21team        bool
21hero_id    int64
22is_pick     bool
22team        bool
22hero_id    int64
dtype: object